* {
  --mainBlue: #003366;
  --lighterBlue: #0056A2;
  --mainGray: #F1F1F1;
  --grayDarker: #c3c0c0;
  --mainWhite: #FFFFFF;
  --mainBlack: #000000;
  --mainYellow: #FFD700;
  --darkerYellow: #d3b300;
  --mainRed: #D32F2F;
  --skyBlue: #46a2fd;
}
